:root {
	--main-color: #b7d2ff;
	--main-border-radius: 10px;
	--content-background-color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main-frame {
	max-width: 992px;
	margin: 0 auto;
}

.post {
	margin-top: 10px;
	margin-bottom: 10px;
}

.post-frame{	
	padding: 10px;
}

.row {
	width: 100%;
	text-align: left;
	display: inline-block;
}

.head-row {
	background-color: var(--main-color);
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.head-content {
	background-color: var(--content-background-color);
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.head-footer {
	background-color: var(--main-color);
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.title {
	float:left;
	text-align: left;
	width: 70%;
	font-size: 20px;
}

.title a {
	color: black;
	text-decoration: none;
}

.category-frame {
	float: right;
	text-align: center;
	width: 30%;
	font-size: 20px;
	margin-right: -11px;
	margin-top: -11px;
	margin-bottom: 10px;
}

.category {
	border: 1px solid black;
	border-bottom-left-radius: var(--main-border-radius);
}

.author{
	text-align: left;
}

.date{
	color: gray;
	font-size: 12px;
}

.vote-up, .vote-number, .vote-down {
	float: right;
	width: 33%;
	cursor: pointer;
}

.vote-frame {
	width: 70px;
	height: 15px;
	display: inline-block;
}

.search-bar {
	width: 70%;
	height: 30px;
	border-radius: var(--main-border-radius);
	border: 1px solid black;
	font-size: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

.categorie-frame {
	display: inline-block;
	min-width: 100px;
	height: 30px;
	line-height: 30px;
	border: 1px solid black;
	border-radius: var(--main-border-radius);
	margin-right: 10px;
	cursor: pointer;
}

.categorie-frame:hover {
	background-color: var(--main-color);
	color: var(--content-background-color);
}

.list-categories-frame {
	margin-top: 20px;
	margin-bottom: 20px;
}

.search-bar-frame {
	margin-top: 40px;
	margin-bottom: 20px;
}

.sort-menu-frame {
	width: 300px;
	display: inline-block;
}

.sort-menu-text{
	width: 100px;
	display: inline-block;
}

.sort-menu-dowpdown{
	width: 200px;
	display: inline-block;
}

.post-list-summary-result {
	width: 70%;
	text-align: left;
	display: inline-block;
}

.post-list-summary-filter {
	width: 30%;
	display: inline-block;
}

.new-post-body{
	border: 1px solid black;
	padding: 20px 10px 10px 10px;
}

.new-post-row {
	width: 100%;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
}

.new-post-title{
	width: 67%;
	height: 32px;
	border-radius: var(--main-border-radius);
	border: 1px solid black;
	font-size: 20px;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

.new-post-category{
	display: block;
	width: 29%;
	height: 34px;
	float: right;	
}

.new-post-category .Select-control {
	border: 1px solid black;
	border-radius: var(--main-border-radius);
}

.new-post-text-area{
	width: 99%;
	border: 1px solid black;
	border-radius: var(--main-border-radius);
}

.new-post-controls{
	text-align: right;
}

.button {
	width: 100px;
	height: 30px;
	line-height: 30px;
	border: 1px solid black;
	border-radius: 15px;
	display: inline-block;
	font-weight: bold;
	cursor: pointer;
	margin-left: 10px;
	text-align: center;
}

.clear-button:hover {
	background-color: orange;
}

.create-button:hover {
	background-color: greenyellow;
}

.clear-button {
	background-color: orangered;
}

.create-button {
	background-color: green;
}

.delete-post-icon {
	float: right;
	margin-right: 10px;
	cursor: pointer;
}

.post-comments-icon{
	display: block;
	float: right;
	cursor: pointer;
}